@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.main-area {
  background-color: #f0f8ff;
}

/* NAVBAR */

.navbar {
  position: fixed;
  transition: ease all 1s;
  -webkit-transition: ease all 1s;
  -moz-transition: ease all 1s;
  -o-transition: ease all 1s;
  background: white;
}

.nav-link {
  color: black !important;
  font-size: 16px;
}

.nav-link:hover {
  color: #da3d46 !important;
}

@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #da3d46;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .main .profile-area {
    padding-top: 70px;
  }
}

.avatar {
  font-size: 1rem;

  display: inline-flex;

  width: 48px;
  height: 48px;

  color: #fff;
  border-radius: 0.375rem;
  background-color: #adb5bd;

  align-items: center;
  justify-content: center;
}

/* PROFILE */

.main-area .profile-area .site-title h3 {
  padding-top: 25%;
  font-weight: 500;
}

.main-area .profile-area .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.main-area .profile-area .site-title h1 {
  font-size: 5rem;
}

.main-area .profile-area .site-title h4 {
  font-size: 1.5rem;
}

.main-area .profile-area .benner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* .a {
    color: blue;
  }
  
  .a:hover {
    color: blue;
    text-decoration: none;
  } */

.main-area .profile-area .social-media {
  margin-top: 40px;
  display: flex;
}

.main-area .profile-area .social-media a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: black;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.main-area .profile-area .social-media a:hover {
  background: #cfd6e1;
}
.main-area .profile-area ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

.main-area .profile-area ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}

.main-menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #18d26e;
  visibility: hidden;
  width: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal;
  position: relative;
  border: 3px solid transparent;
  border-radius: 10px;
}

.button .btn {
  background-clip: padding-box;
  transition: background 0.6s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button .btn-outline-primary {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}
/* end */

/* ABOUT-AREA */
.main-area .profile-area .container {
  padding-top: 70px;
}

.about-area .social-media {
  display: flex;
}

.about-area .social-media a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: black;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.about-area .social-media a:hover {
  background: #cfd6e1;
}

.about-area .social-media ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

.about-area .social-media ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}

.main-area .about-area {
  padding: 8rem 5rem;
}

.main-area .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/ 60px;
  letter-spacing: 20px;
}

.main-area .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}
.about-image {
  width: 20rem;
}

#about ul.btn-icon li {
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
}

#about ul.btn-icon li:hover {
  background-color: #cfd6e1;
  transition: 0.5s;
}

#about .ul-btn-icon li:hover li {
  color: #212934;
  transition: 0.5s;
}
/* end */

/* PORTFOLIO */
.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(198, 198, 214, 0.432);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}

.project img {
  transition: all 0.4s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  transform: scale(1.1);
}
/* END */

/* FOOTER */
#contact a {
  color: #dcdde1;
}

#contact a:hover {
  color: #da3d46;
}

#contact ul.footer-link-list li {
  padding-top: 10px;
}

#contact ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

#contact ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: 0.5s;
}

#contact ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}

#contact .border-light {
  border-color: #2d343f !important;
}

/* GALLERY */
img {
  max-width: 100%;
  vertical-align: top;
}

.gallery-section {
  display: flex;
  margin: 10px auto;
  max-width: 600px;
  position: relative;
}

@media (min-width: 600px) {
  .gallery-section {
    padding-top: 250px;
  }
}

.gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-thumb {
  padding-top: 6px;
  margin: 5px;
  display: block;
}

.gallery-selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.gallery-selector:checked + .gallery-img {
  opacity: 1;
}

.gallery-selector:checked ~ .gallery-thumb > img {
  box-shadow: 0 0 0 3px #cfd6e1;
}

.blog-post{
  display: flex;
  align-items: center;
  max-width: 90rem;
  background-color: #fff;
  padding: 2.5rem;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.blog-post_img{
  position: relative;
  min-width: 35rem;
  max-width: 35rem;
  height: 38rem;
  transform: translateX(-8rem);
}

.blog-post_img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.blog-post_img::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #A9A9A9 0%, #00f2fe 100%);
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  opacity: 0.5;
}

.blog-post_info p{
  margin-bottom: 3rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post_title{
  font-size: 2.5rem;
  margin: 1.5 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post_btn{
  display: inline-block;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.8rem;
}

.blog-post_btn:hover{
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media (max-width: 1068px){
  .blog-post{
    max-width: 80rem;
  }

  .blog-post_img{
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media (max-width: 868px){
  .blog-post{
    max-width: 70rem;
  }
}

@media (max-width: 768px){
  .blog-post{
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post_img{
    min-width: 100%;
    transform: translate(0, -8rem);
  }
}

/* .container1{
  font-size: 2.26rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation{
  height: 30px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div{
  padding: 0.25rem 0.25rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child{
  animation: text-animation 8s infinite;
}

.first div{
  background-color: #2d343f;
}

.second div{
  background-color: #da3d46;
}

.third div{
  background-color: #18d26e;
}

@keyframes text-animation{
  0% { margin-top: 0; }
  10%{ margin-top: 0; }
  20%{ margin-top: -5.62rem; }
  30%{ margin-top: -5.62rem; }
  40%{ margin-top: 11.24rem; }
  60%{ margin-top: 11.24rem; }
  70%{ margin-top: -5.62rem; }
  80%{ margin-top: -5.62rem; }
  90%{ margin-top: 0; }
  100%{ margin-top: 0; }
} */